[run]
source = src
omit = src/tests/**,src/ui/**,src/index.py,__init__.py,src/main.py,src/functions/triangulation_animator.py,src/functions/pygameTestRenderer.py,src/display.py,src/functions/tunnels.py